<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% if bad_submit %}
        <p style="color: red">Please submit a term</p>
    {%  endif %}
    <form action="" method="get">
        <input type="text" name="name" value="">
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>