<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Rendered from: {{ rendered_from }}</h1>
<br/>
    <table>
        {% for key,value in headers  %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>